* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
/* *************************************
              navber
***************************************** */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}
.manu {
  display: flex;
  list-style: none;
  align-items: center;
}
.manu-item {
  text-decoration: none;
  margin-left: 28px;
  color: #000000;
}
.home {
  margin-left: 78px;
}
.btn {
  padding: 10px 20px;
  background-color: #5c7cfa;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
}
/*  *************************************
              Mid Section
***************************************** */
main {
  display: flex;
  align-items: center;
  margin: 11%;
}
.main-left {
  width: 40%;
}
.main-right {
  width: 35%;
}
span {
  color: #5c7cfa;
}
.heading {
  font-size: 68px;
}
.para {
  margin-top: 24px;
}
.main-btn {
  margin-top: 20%;
  padding: 10px 20px;
  background-color: #5c7cfa;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
}
